*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #a5adc8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 99%;
  height: 98vh;
  border: 2px solid gray;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}

body .container .main {
  background: #f3fbfb;
  width: 23%;
  height: 55vh;
  border-radius: 5px;
  padding: 2rem;
}

body .container .main .close {
  float: right;
  color: #1a1a1a;
}

body .container .main h3 {
  margin-top: 1rem;
  font-size: 1rem;
  color: #394465;
}

body .container .main p {
  font-size: 0.5rem;
  color: #394465;
  margin-top: 0.2rem;
}

body .container .main .icon {
  margin-top: 2rem;
  padding: 0.6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.6rem;
  color: #394465;
}

body .container .main .icon a {
  color: #394465;
  padding: 0.6rem 1rem;
  border: 1px solid black;
}

body .container .main .icon a span {
  font-size: 0.6rem;
  margin-right: -1rem;
}

body .container .main .extra {
  margin-top: 1rem;
}

body .container .main .extra p {
  font-size: 0.7rem;
}

body .container .main .extra a {
  font-size: 0.7rem;
}

@media (max-width: 768px) {
  body {
    background-color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
  }
  body .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #a5adc8;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 95%;
    height: 88vh;
    border: 2px solid gray;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;
  }
  body .container .main {
    background: #f3fbfb;
    width: 80%;
    height: 55vh;
    border-radius: 5px;
    padding: 2rem;
  }
  body .container .main .close {
    float: right;
    color: #1a1a1a;
  }
  body .container .main h3 {
    margin-top: 1rem;
    font-size: 1rem;
    color: #394465;
  }
  body .container .main p {
    font-size: 0.5rem;
    color: #394465;
    margin-top: 0.2rem;
  }
  body .container .main .icon {
    margin-top: 2rem;
    padding: 0.6rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0.6rem;
    color: #394465;
  }
  body .container .main .icon a {
    color: #394465;
    padding: 0.6rem 1rem;
    border: 1px solid black;
  }
  body .container .main .icon a span {
    font-size: 0.6rem;
    margin-right: -1rem;
  }
  body .container .main .extra {
    margin-top: 1rem;
  }
  body .container .main .extra p {
    font-size: 0.7rem;
  }
  body .container .main .extra a {
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=style.css.map */