*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;

  .container {
    display: flex;
    background: #a5adc8;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 98vh;
    border: 2px solid gray;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;

    .main {
      background: #f3fbfb;
      width: 23%;
      height: 55vh;
      border-radius: 5px;
      padding: 2rem;

      .close {
        float: right;
        color: #1a1a1a;
      }
      h3 {
        margin-top: 1rem;
        font-size: 1rem;
        color: #394465;
      }
      p {
        font-size: 0.5rem;
        color: #394465;
        margin-top: 0.2rem;
      }
      .icon {
        margin-top: 2rem;
        padding: 0.6rem;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-between;
        gap: 0.6rem;
        color: #394465;

        a {
          color: #394465;
          padding: 0.6rem 1rem;
          border: 1px solid black;

          span {
            font-size: 0.6rem;
            margin-right: -1rem;
          }
        }
      }
      .extra {
        margin-top: 1rem;
        p {
          font-size: 0.7rem;
        }
        a {
          font-size: 0.7rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    background-color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;

    .container {
      display: flex;
      background: #a5adc8;
      align-items: center;
      justify-content: center;
      width: 95%;
      height: 88vh;
      border: 2px solid gray;
      border-bottom-left-radius: 70px;
      border-top-right-radius: 70px;

      .main {
        background: #f3fbfb;
        width: 80%;
        height: 55vh;
        border-radius: 5px;
        padding: 2rem;

        .close {
          float: right;
          color: #1a1a1a;
        }
        h3 {
          margin-top: 1rem;
          font-size: 1rem;
          color: #394465;
        }
        p {
          font-size: 0.5rem;
          color: #394465;
          margin-top: 0.2rem;
        }
        .icon {
          margin-top: 2rem;
          padding: 0.6rem;
          display: grid;
          grid-template-columns: auto auto auto;
          justify-content: space-between;
          gap: 0.6rem;
          color: #394465;

          a {
            color: #394465;
            padding: 0.6rem 1rem;
            border: 1px solid black;

            span {
              font-size: 0.6rem;
              margin-right: -1rem;
            }
          }
        }
        .extra {
          margin-top: 1rem;
          p {
            font-size: 0.7rem;
          }
          a {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}
