*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #09043c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background: #1c174d;
  width: 36%;
  height: 43vh;
  border-radius: 10px;
  padding: 2rem;
  top: -6rem;
  left: -10rem;
}

body .container h4 {
  color: #e2d5ab;
}

body .container p {
  margin-top: 1rem;
  color: #e2d5ab;
  font-size: 0.8rem;
  padding-bottom: 2.3rem;
}

body .container .browser {
  border: 1px dashed #737373;
  border-radius: 15px;
  width: 250px;
  height: 80px;
  padding: 1rem;
  line-height: 1.5rem;
}

body .container .browser a {
  background-color: #6248f4;
  text-decoration: none;
  border: 1px solid #6248f4;
  border-radius: 5px;
  padding: 0.4rem 1.5rem;
  color: #e2d5ab;
  font-size: 0.7rem;
}

body .container .browser small {
  margin-top: 1rem;
  color: #a6a6a6;
  font-size: 0.7rem;
}

body .container .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background: #1c174d;
  width: 100%;
  height: 50vh;
  border-radius: 10px;
  padding: 2.5rem;
  top: 10rem;
  left: 20rem;
  gap: 2rem;
}

body .container .main .left img {
  width: 170px;
  height: 120px;
  border-radius: 10px;
}

body .container .main .right .form-control .input-box label {
  color: #fff;
  text-align: left;
  font-size: 0.8rem;
}

body .container .main .right .form-control .input-box input {
  background: #1c174d;
  outline-style: none;
  border: 1px solid gray;
  border-radius: 5px;
  width: 200px;
  height: 35px;
  padding: 1.3rem;
}

body .container .main .right .form-control .input-box .location {
  margin-top: 0.5rem;
}

body .container .main .right .form-control .tag-box {
  margin-top: 0.5rem;
}

body .container .main .right .form-control .tag-box label {
  color: #fff;
  margin-left: -8rem;
  font-size: 0.8rem;
}

body .container .main .right .form-control .tag-box .tag {
  font-size: 0.8rem;
  color: #fff;
  border: 1px solid gray;
  border-radius: 5px;
  width: 200px;
  height: 35px;
  padding: 0.5rem;
}

body .container .main .right .form-control .tag-box .tag small {
  background: #09043c;
  padding: 0.5rem 0.8rem;
}

body .container .main .right .form-control .button {
  margin-top: 0.5rem;
}

body .container .main .right .form-control .button button {
  cursor: pointer;
  background: #6248f4;
  outline-style: none;
  border: 1px solid #6248f4;
  border-radius: 10px;
  width: 200px;
  height: 35px;
  color: #fff;
  margin-left: -0.5rem;
  font-size: 0.7rem;
}

@media (max-width: 768px) {
  body {
    background-color: #09043c;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
  }
  body .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    background: #1c174d;
    width: 96%;
    height: 43vh;
    border-radius: 10px;
    padding: 2rem;
    top: 5rem;
    left: 0.5rem;
  }
  body .container h4 {
    color: #e2d5ab;
  }
  body .container p {
    margin-top: 1rem;
    color: #e2d5ab;
    font-size: 0.8rem;
    padding-bottom: 2.3rem;
  }
  body .container .browser {
    border: 1px dashed #737373;
    border-radius: 15px;
    width: 250px;
    height: 80px;
    padding: 1rem;
    line-height: 1.5rem;
  }
  body .container .browser a {
    background-color: #6248f4;
    text-decoration: none;
    border: 1px solid #6248f4;
    border-radius: 5px;
    padding: 0.4rem 1.5rem;
    color: #e2d5ab;
    font-size: 0.7rem;
  }
  body .container .browser small {
    margin-top: 1rem;
    color: #a6a6a6;
    font-size: 0.7rem;
  }
  body .container .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    background: #1c174d;
    width: 100%;
    height: 50vh;
    border-radius: 10px;
    padding: 2.5rem;
    top: 22rem;
    left: 0rem;
    gap: 1rem;
  }
  body .container .main .left img {
    width: 100px;
    height: 100px;
    border-radius: 7px;
  }
  body .container .main .right {
    height: 100vh;
  }
  body .container .main .right .form-control .input-box label {
    color: #fff;
    margin-left: -3.6rem;
    font-size: 0.8rem;
  }
  body .container .main .right .form-control .input-box input {
    background: #1c174d;
    outline-style: none;
    border: 1px solid gray;
    border-radius: 5px;
    width: 200px;
    height: 35px;
    padding: 1.3rem;
  }
  body .container .main .right .form-control .input-box .location {
    margin-top: 1rem;
  }
  body .container .main .right .form-control .tag-box {
    margin-top: 1rem;
  }
  body .container .main .right .form-control .tag-box label {
    color: #fff;
    margin-left: -8rem;
    font-size: 0.8rem;
  }
  body .container .main .right .form-control .tag-box .tag {
    font-size: 0.8rem;
    color: #fff;
    border: 1px solid gray;
    border-radius: 5px;
    width: 200px;
    height: 35px;
    padding: 0.5rem;
  }
  body .container .main .right .form-control .tag-box .tag small {
    background: #09043c;
    padding: 0.5rem 0.8rem;
  }
  body .container .main .right .form-control .button {
    margin-top: 1rem;
  }
  body .container .main .right .form-control .button button {
    cursor: pointer;
    background: #6248f4;
    outline-style: none;
    border: 1px solid #6248f4;
    border-radius: 10px;
    width: 200px;
    height: 35px;
    color: #fff;
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=style.css.map */