*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #bcbcc2;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;

  .container {
    position: relative;
    background: #fbf3fb;
    border-radius: 5px;
    width: 60%;
    height: 59vh;
    padding: 4rem;

    &::before {
      content: "";
      position: absolute;
      width: 97%;
      height: 6px;
      background-color: #2a2a48;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      bottom: -6px;
      left: 1.5%;
    }
    .footer {
      display: flex;
      justify-content: space-between;
      line-height: 1.7rem;

      p {
        color: #9495a4;
        font-weight: bold;
        font-size: 0.9rem;
      }
      small {
        color: #464444;
        font-size: 0.8rem;
      }
      .follow {
        margin-top: 1.5rem;
      }
      a {
        color: #464444;
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 5rem;

      .bootom1 {
        font-size: 0.7rem;
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    background-color: #bcbcc2;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;

    .container {
      position: relative;
      background: #fbf3fb;
      border-radius: 5px;
      width: 98%;
      height: 40vh;
      padding: 2rem;

      &::before {
        content: "";
        position: absolute;
        width: 97%;
        height: 6px;
        background-color: #2a2a48;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        bottom: -6px;
        left: 1.5%;
      }
      .footer {
        display: flex;
        justify-content: space-between;
        line-height: 1.7rem;

        p {
          color: #9495a4;
          font-weight: bold;
          font-size: 0.9rem;
        }
        small {
          color: #464444;
          font-size: 0.8rem;
        }
        .follow {
          margin-top: 1.5rem;
        }
        a {
          color: #464444;
        }
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 2.5rem;

        .bootom1 {
          font-size: 0.7rem;
        }
      }
    }
  }
}
